[Desktop Entry]
Version=1.0
Name=tinywm Session
Name[ar]=جلسة إكسفس
Name[bg]=tinywm сесия
Name[ca]=Sessió tinywm
Name[cs]=Relace prostředí tinywm
Name[da]=Session til tinywm
Name[de]=tinywm-Sitzung
Name[el]=Συνεδρία tinywm
Name[en_GB]=tinywm Session
Name[es]=Sesión de tinywm
Name[eu]=tinywm saioa
Name[fi]=tinywm-istunto
Name[fr]=Session tinywm
Name[gl]=Sesión de tinywm
Name[hr]=tinywm sesija
Name[hu]=tinywm munkamenet
Name[id]=Sesi tinywm
Name[is]=tinywm seta
Name[it]=Sessione di tinywm
Name[ja]=tinywm セッション
Name[kk]=tinywm сессиясы
Name[ko]=tinywm 세션
Name[lt]=tinywm seansas
Name[nl]=tinywm-sessie
Name[nn]=tinywm-økt
Name[pl]=tinywm
Name[pt]=Sessão tinywm
Name[pt_BR]=Sessão do tinywm
Name[ro]=Sesiune tinywm
Name[ru]=Сеанс
Name[sk]=Sedenie tinywm
Name[sr]=ИксФЦЕ сесија
Name[sv]=tinywm Session
Name[te]=tinywm సెషన్
Name[tr]=tinywm Oturumu
Name[ug]=tinywm ئەڭگىمەسى
Name[uk]=Сеанс tinywm
Name[zh_CN]=tinywm 会话
Name[zh_TW]=tinywm 工作階段
Comment=Use this session to run tinywm as your desktop environment
Comment[ar]=إستعمل هذه الجلسة لتشغيل إكسفس كسطح مكتب
Comment[bg]=Използвайте тази сесия за стартиране на tinywm като вашата графична среда
Comment[ca]=Empra aquesta sessió per executar l'tinywm com el vostre entorn d'escriptori
Comment[cs]=Použít tuto relaci ke spuštění tinywm jako vašeho pracovního prostředí
Comment[da]=Brug denne session til at køre tinywm som dit skrivebord
Comment[de]=Wählen Sie diese Sitzung, um tinywm als Ihre Arbeitsumgebung auszuführen
Comment[el]=Χρήση αυτής της συνεδρία για εκτέλεση του tinywm ως περιβάλλον εργασίας
Comment[en_GB]=Use this session to run tinywm as your desktop environment
Comment[es]=Use esta sesión para ejecutar tinywm como su entorno de escritorio
Comment[eu]=Erabili saio hau tinywm mahaigain ingurune gisa exekutatzeko.
Comment[fi]=Valitse tämä istunto käyttääksesi tinywm-työpöytäympäristöä 
Comment[fr]=Utilisez cette session pour exécuter tinywm comme environnement de bureau
Comment[hr]=Koristite ovu sesiju da bi pokrenuli tinywm kao vaše radno okruženje
Comment[hu]=Használja ezt a munkamenetet az tinywm futtatásához asztali környezetként
Comment[id]=Gunakan sesi ini untuk menjalankan tinywm sebagai lingkungan desktop anda
Comment[it]=Usare questa sessione per avviare tinywm come ambiente grafico
Comment[ja]=tinywm をデスクトップ環境として起動するためにこのセッションを使用します
Comment[kk]=Бұл сессияны негізгі жұмыс үстел ортасы ретінде tinywm-ні қолдану үшін қолданыңыз
Comment[ko]=데스크톱 환경으로서 tinywm를 실행하기 위해 이 세션을 사용합니다
Comment[lt]=Naudoti šį seansą, kad tinywm būtų naudojama kaip jūsų darbastalio aplinka
Comment[nl]=Gebruik deze sessie om tinywm te draaien als uw werkomgeving
Comment[nn]=Bruk denne økta for å køyra tinywm som skrivebordsmiljø
Comment[pl]=Uruchamia sesję środowiska graficznego tinywm
Comment[pt]=Utilizar esta sessão para executar o tinywm como ambiente de trabalho
Comment[pt_BR]=Usar esta sessão para executar o tinywm como seu ambiente de trabalho
Comment[ro]=Utilizați această sesiunea pentru a inițializa mediul desktop tinywm
Comment[ru]=Используйте этот сеанс, чтобы сделать tinywm вашим окружением
Comment[sk]=Použite toto sedenie pre spustenie tinywm ako vášho pracovného prostredia
Comment[sr]=Користите ову сесију да покренете ИксФЦЕ као ваше радно окружење
Comment[sv]=Använd denna session för att köra tinywm som din skrivbordsmiljö
Comment[tr]=tinywm'yi masaüstü ortamınız olarak kullanmak için bu oturumu kullanın
Comment[ug]=مەزكۇر ئەڭگىمەدە ئۈستەلئۈستى ئۈچۈن tinywm ئىشلىتىلىدۇ
Comment[uk]=Використайте цей сеанс для запуску tinywm як Вашого типого середовища.
Comment[zh_CN]=使用此会话将 tinywm 作为您的桌面环境运行
Comment[zh_TW]=使用這個工作階段來執行 tinywm 作為您的桌面環境
Exec=tinywm
Icon=
Type=Application
DesktopNames=tinywm
